[package]
name = "automotive"
version = "0.1.1"
edition = "2021"
license = "MIT"
keywords = ["automotive", "CAN", "UDS"]
description = "WIP. Rust crate providing a variety of automotive related libraries, such as communicating with CAN interfaces and diagnostic APIs."

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-stream = "0.3.5"
bstr = "^1.9.0"
futures = "^0.3.30"
futures-core = "0.3.30"
futures-util = "0.3.30"
hex = "^0.4"
rusb = "^0.9"
strum = "^0.26"
strum_macros = "^0.26"
tokio = {version = "^1.36.0", features=["full"]}
tokio-stream = "^0.1.14"
tracing = "^0.1"
tracing-subscriber = "^0.3"
