[package]
name = "automotive"
version = "0.1.0"
edition = "2021"
license = "MIT"
keywords = ["automotive", "CAN", "UDS"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
