[package]
name = "automotive"
version = "0.1.4"
edition = "2021"
license = "MIT"
keywords = ["automotive", "CAN", "UDS"]
description = "Rust crate providing a variety of automotive related libraries, such as communicating with CAN interfaces and diagnostic APIs."
repository = "https://github.com/I-CAN-hack/automotive"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
all = []
test_panda = []
test_socketcan = []
test_vector = []
test_vcan = []
serde = ["dep:serde"]

[build-dependencies]
bindgen = "0.69.4"

[dependencies]
async-stream = "^0.3.5"
bstr = "^1.9.0"
futures = "^0.3.30"
futures-core = "^0.3.30"
futures-util = "^0.3.30"
hex = "^0.4"
rusb = "^0.9"
serde = {version = "^1.0.197", features = ["derive"], optional = true}
serial_test = "^3.0.0"
strum = "^0.26"
strum_macros = "^0.26"
thiserror = "^1.0.58"
tokio = {version = "^1.36.0", features=["full"]}
tokio-stream = "^0.1.14"
tracing = "^0.1"
tracing-subscriber = "^0.3"

[target.'cfg(target_os = "linux")'.dependencies]
# socketcan = {path = "../socketcan-rs"}
# socketcan = "^3.3.0"
socketcan = {git = "https://github.com/socketcan-rs/socketcan-rs.git", rev = "3ebef4e3f54bc21e3d993d40fa160ebb7f3047b0" }
